# Prerequisites
build/
bin/
obj/
.cache/

# IDE files
.vscode/
.qtc_clangd/
*.user
*.swp
compile_commands.json

# Doxygen derived products (We host these differently!)
html/
latex/

# OS files
.DS_Store
Thumbs.db

# Local network config at project root (machine-specific, not for version control)
/garuda.conf
